{% extends "nav/base.html" %}
{% block content %}
<h1> Investing </h1>
    
    <h2>Simulate Investing</h2>
    <p>Select an uploaded file to input investment data</p>

    <!-- Selecting a file to input investment data -->
    <form action="{% url "investing" %}" method= "post" enctype="multipart/form-data">
        {% csrf_token %}
    <p>{{ file_form.non_field_errors }}</p>
        
    <p>
        {{ file_form.file_input.errors }}
        {{ file_form.file_input }}
    </p>
    <input type="submit" name="invest" value="Make Investments" />
    <input type="submit" name="clear" value="Clear Investments" /></p>
    </form>        
        
    <h2>File Uploader</h2>
    <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "investing" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" name="uploadFile" value="Upload" /></p>
        </form>
        
        

{% endblock %}
